<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Menu -->
        <div class="col-md-3">
            <div class="menu-links">
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-trello"></i> Boards</button>
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-kanban-fill"></i> Templates</button>
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-activity"></i> Home</button>
            </div>
            <hr>
            <div>
                <h3>Workspaces</h3>
                <div>
                    <button class="btn btn-light d-block w-100 text-start">Trello Workspace</button>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">

            <!-- Starred boards -->
            <div *ngIf="this.starredBoards.length !== 0" class="mb-5">
                <h2 class="fw-bold"><i class="bi bi-star"></i> Starred boards</h2>
                <div class="row row-cols-auto col gap-2">
                    <div *ngFor="let board of this.starredBoards" class="d-flex justify-content-center align-items-center mb-3">
                        <button
                            (click)="this.goToBoard(board.workspaceId, board.id)"
                            class="btn btn-light board-button"
                            style="height: 7rem; width: 13rem;"
                            [style.background-color]="board.color">
                            <img *ngIf="board.picture" [src]="board.picture" class="w-100 h-100 board-image">
                            <p>{{ board.name }}</p>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Recently Viewed Section -->
            <div>
                <h2 class="fw-bold"><i class="bi bi-clock"></i> Recently viewed</h2>
                <img src="https://via.placeholder.com/195x100" alt="Trello Board Thumbnail">
            </div>

            <!-- Your Workspaces Section -->
            <div class="mt-5">
                <h2 class="fst-italic">Your Workspaces</h2>
                <div *ngFor="let workspace of this.workspaces">
                    <app-workspaces [workspace]="workspace" ></app-workspaces>
                </div>
                <div class="dropdown d-block w-195 dropend">
                    <button class="btn btn-light workspace-creation" type="button" data-bs-toggle="dropdown" data-bs-auto-close="false" aria-expanded="false">
                        Create new workspace
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="dropdown-header flex justify-content-between">
                                <h3>Create workspace</h3>
                                <img
                                    [style.background-image]="'url(' + this.workspacePictureToAdd + ')'"
                                    [style.background-size]="'cover'"
                                    [style.background-color]="this.workspaceColorToAdd"
                                    class="rounded"
                                    style="width: 40px; height: 40px;">
                            </div>
                        </li>
                        <li><a class="dropdown-item">
                            <input type="text" class="form-control me-2" placeholder="Workspace name" [(ngModel)]="this.workspaceNameToAdd">
                        </a></li>
                        <li><a class="dropdown-item">
                            <input type="text" class="form-control me-2" placeholder="Description" [(ngModel)]="this.workspaceDescriptionToAdd">
                        </a></li>
                        <li><a class="dropdown-item">
                            <button class="btn btn-light w-100 text-start" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="offcanvasBackground">
                                <i class="bi bi-image"></i> Cover
                            </button>
                        </a></li>
                        <li><a class="dropdown-item">
                            <button [disabled]="this.workspaceNameToAdd==''" (click)="this.createWorkspace()" class="btn btn-primary w-100">Create</button>
                        </a></li>
                    </ul>
                </div>
            </div>

            <!-- Closed Boards Button -->
            <div class="mt-3">
                <button class="btn btn-light w-195">View all closed boards</button>
            </div>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackground" aria-labelledby="offcanvasBackgroundLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasParameters" aria-controls="offcanvasParameters"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundLabel">Change Background</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <button (click)="this.openPanelPictureBackground()" class="btn btn-light w-50 p-1" style="height: 7rem; width: 13rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackgroundPicture" aria-controls="offcanvasBackgroundPicture">
            <img src="../../../../assets/ChangeBackgroundButton.png" class="w-100 h-100">
        </button>
        <button class="btn btn-light w-50 p-1" style="height: 7rem; width: 13rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackgroundColor" aria-controls="offcanvasBackgroundColor">
            <img src="../../../../assets/ChangeBackgroundColorsButton.webp" class="w-100 h-100">
        </button>
        <div style="display: flex; justify-content: space-around;">
            <p class="">Photos</p>
            <p class="">Colors</p>
        </div>
        <hr>
        <h2 class="title">Custom</h2>
        <input class="mb-3 form-control" type="file" id="formFile" accept="image/png" (change)="onBackgroundSelected($event)">
        <button class="btn btn-light w-100 p-1" type="button" (click)="this.removeBackground()">
            <i class="bi bi-trash"></i> Remove background
        </button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackgroundPicture" aria-labelledby="offcanvasBackgroundPictureLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="#offcanvasBackground"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundPictureLabel">Photos from <a href="https://unsplash.com/">Unsplash</a></h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; grid-auto-rows: minmax(80px, auto);">
            <button *ngFor="let picture of this.backgroundPictures"
                    class="btn btn-light hover-button"
                    (click)="this.changeBackgroundPicture(picture.url)"
                    style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; position: relative;">
                <img [src]="picture.url" class="w-100 h-100">
                <a [href]="picture.authorProfileUrl" class="author-link">{{ picture.author }}</a>
            </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackgroundColor" aria-labelledby="offcanvasBackgroundColorLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="#offcanvasBackground"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundColorLabel">Colors</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; grid-auto-rows: minmax(80px, auto);">
            <button
                *ngFor="let color of this.backgroundColors"
                (click)="this.changeBackgroundColor(color)"
                [style.background-color]="color"
                class="btn btn-light"
                style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;"></button>
        </div>
    </div>
</div>
