<div class="container mt-5">
    <div class="row">
        <!-- Sidebar Menu -->
        <div class="col-md-3">
            <div class="menu-links">
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-trello"></i> Boards</button>
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-kanban-fill"></i> Templates</button>
                <button class="btn btn-light d-block w-100 text-start"><i class="bi bi-activity"></i> Home</button>
            </div>
            <hr>
            <div>
                <h3>Workspaces</h3>
                <div>
                    <button class="btn btn-light d-block w-100 text-start">Trello Workspace</button>
                </div>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <!-- Recently Viewed Section -->
            <div>
                <h2 class="fw-bold"><i class="bi bi-clock"></i> Recently viewed</h2>
                <img src="https://via.placeholder.com/195x100" alt="Trello Board Thumbnail">
            </div>

            <!-- Your Workspaces Section -->
            <div class="mt-5">
                <h2 class="fst-italic">Your Workspaces</h2>
                <div *ngFor="let workspace of this.workspaces">
                    <app-workspaces [workspace]="workspace" ></app-workspaces>
                </div>
            </div>

            <!-- Closed Boards Button -->
            <div class="mt-3">
                <button class="btn btn-light w-195">View all closed boards</button>
            </div>
        </div>
    </div>
</div>
