.board-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.board-button p {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.custom-input {
    border: none;
    font-size: 1.5rem;
    outline: none;
}

.custom-input-description {
    border: none;
    outline: none;
}

.custom-input::placeholder {
    font-size: 1.5rem;
    color: #aaa;
}


.hover-button {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
