<div class="d-flex justify-content-center align-items-center vh-100">
    <!-- Background overlay -->
    <div class="position-fixed top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>

    <!-- Card with buttons on the right side inside -->
    <div #cardElement class="card shadow-lg w-50 position-relative">
      <div class="card-body">
        <div class="d-flex justify-content-start">
          <!-- Main card content on the left -->
          <div class="p-2 w-100">
                <h2 class="card-title fw-bolder" (click)="this.toggleEditCardName()"><i class="bi bi-window"></i> {{this.svOpenCard._card.name}}</h2>
                <input *ngIf="this.isEditingCardName" type="text" class="form-control" [(ngModel)]="this.cardName">
                <button *ngIf="this.isEditingCardName" (click)="this.saveNameCard()" class="btn btn-primary mt-2">Save</button>
                <h4 class="card-title">in list {{ this.svOpenCard._list.name }}</h4>
                <h4 class="card-title fw-bolder">Notifications</h4>
                <button class="btn btn-light"><i class="bi bi-eye"></i> Watch</button>
                <h3 class="card-title fw-bolder"><i class="bi bi-justify-left"></i> Description</h3>
                <mat-form-field class="example-full-width w-100">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]="this.description">
                </mat-form-field>
                <button *ngIf="this.description !== this.initialDescription" (click)="this.saveDescription()" class="btn btn-primary text-start">Save</button>
                <button *ngIf="this.description !== this.initialDescription" (click)="this.cancelDescription()" class="btn btn-light m-2 text-start">Cancel</button>
                <h3 class="card-title fw-bolder m-2"><i class="bi bi-list-task"></i> Activity</h3>
          </div>

          <!-- Button section -->
          <div class="d-flex flex-column ms-3 w-25">
            <button (click)="this.closeOpenCard()" class="btn btn-light mb-2 text-start w-25 ms-auto"><i class="bi bi-x-lg"></i></button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-person-plus"></i> Join</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-person"></i> Members</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-tag"></i> Labels</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-check2-square"></i> Checklist</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-clock"></i> Dates</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-paperclip"></i> Attachment</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-card-image"></i> Cover</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-input-cursor-text"></i> Custom Fields</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-arrow-right"></i> Move</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-copy"></i> Copy</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-images"></i> Make template</button>
            <button (click)="this.delete()" class="btn btn-light mb-2 text-start w-100"><i class="bi bi-trash"></i> Delete</button>
            <button class="btn btn-light mb-2 text-start w-100"><i class="bi bi-share"></i> Share</button>
          </div>
        </div>
      </div>
    </div>
</div>
