<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
        <div class="col-md-2 d-none d-md-block" >
            <app-board-sidebar></app-board-sidebar>
        </div>

        <!-- Main content -->
        <main class="col-md-10">

            <!-- Board navbar -->
            <app-board-navbar></app-board-navbar>

            <div class="board-content m-3">
                <button class="btn btn-light add-list">+ Add a list</button>
            </div>
        </main>
    </div>
</div>
