<div class="container-fluid">
    <div class="row">

        <!-- Sidebar -->
         <div class="col-md-2 d-none d-md-block" >
             <app-board-sidebar></app-board-sidebar>
         </div>

        <!-- Main content -->
        <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2">My Trello Board</h1>
            </div>
            <div class="board-content">
                <button class="btn btn-light add-list">+ Add a list</button>
            </div>
        </main>
    </div>
</div>
