.board-button {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
}

.board-button p {
    position: absolute;
    z-index: 1;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

img.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
