<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light navbar-fixed-top" style="border-bottom: 1px solid #ccc;">
    <div class="container-fluid">

        <a class="navbar-brand" (click)="this.router.navigate(['/home'])">
            <img class="images" src="../../../assets/logo-trello-300x300.png" style="width: 3rem;" />Tr3llo
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Nav items on the left -->
            <ul class="navbar-nav d-flex align-items-center me-auto">

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Workspaces
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let workspace of this.workspaces">
                                <button class="dropdown-item" (click)="goToWorkspaceSettings(workspace.id)">
                                    <img
                                        [style.background-image]="'url(' + workspace.picture + ')'"
                                        [style.background-color]="workspace.color"
                                        [style.background-size]="'cover'"
                                        class="rounded"
                                        style="width: 30px; height: 30px;"
                                    >
                                    {{ workspace.name }}
                                </button>
                            </li>
                            <li *ngIf="this.workspaces.length == 0"><a class="dropdown-item">No workspaces</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Recent
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Starred
                        </button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let board of this.starredBoards">
                                <button class="dropdown-item" (click)="goToBoard(board.workspaceId, board.id)">
                                    <img
                                        [style.background-image]="'url(' + board.picture + ')'"
                                        [style.background-color]="board.color"
                                        [style.background-size]="'cover'"
                                        class="rounded"
                                        style="width: 30px; height: 30px;"
                                    >
                                    {{ board.name }}
                                </button>
                            </li>
                            <li *ngIf="this.starredBoards.length == 0"><a class="dropdown-item">No starred boards</a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="dropdown">
                        <button class="nav-link btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Templates
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </li>

                <div class="dropdown d-block text-start dropend">
                    <button class="btn btn-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="false">
                        Create
                    </button>
                    <ul class="dropdown-menu">
                        <li><h3 class="dropdown-header">Create board</h3></li>
                        <li><a class="dropdown-item">
                            <input type="text" class="form-control me-2" placeholder="Board name" [(ngModel)]="this.boardNameToAdd">
                        </a></li>
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-light mb-2 text-start w-100 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    Workspace
                                </button>
                                <ul class="dropdown-menu dropdown-scroll" aria-labelledby="dropdownMenuButton1" (click)="$event.stopPropagation()">
                                    <li *ngFor="let workspace of this.workspaces" class="dropdown-item">
                                        <label class="form-check-label">
                                            <input type="radio" (click)="this.onRadioChangeCopy(workspace)" class="form-check-input" />
                                            {{ workspace.name }}
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="dropdown-item">
                            <button [disabled]="this.boardNameToAdd==''" (click)="this.createBoard()" class="btn btn-primary w-100">Create</button>
                        </a></li>
                    </ul>
                </div>
            </ul>

            <!-- Nav items on the right -->
            <div class="d-flex align-items-center">
                <button class="btn btn-light">
                    <i class="bi bi-search mx-2 text-secondary"></i>
                </button>
                <input type="text" class="form-control me-2" placeholder="Search">
                <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNotifications" aria-controls="offcanvasNotifications">
                    <i class="bi bi-bell"></i>
                    <span *ngIf="this.notifications.length != 0" class="position-absolute top-100 start- translate-middle badge rounded-pill text-bg-secondary">{{ this.notifications.length }}</span>
                </button>
                <button class="btn btn-light">
                    <i class="bi bi-question-circle text-secondary"></i>
                </button>
                <div class="dropdown">
                    <button class="btn btn-light" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle text-secondary"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" (click)="this.logout()"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNotifications" aria-labelledby="offcanvasNotificationsLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title title" id="offcanvasNotificationsLabel">Notifications</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">

        <app-notification-card
            *ngFor="let notif of this.notifications"
            [senderEmail]="notif.senderEmail"
            [timestamp]="notif.timestamp.toDate().toLocaleDateString()"
            [message]="notif.message"
            [texts]="notif.texts"
            [type]="notif.type"
        ></app-notification-card>

    </div>
</div>
