<nav class="navbar navbar-expand-lg navbar-light navbar-fixed-top" style="border-bottom: 1px solid #ccc; background-color: rgb(255, 255, 255, 0.9);">
    <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Nav items on the left -->
            <ul class="navbar-nav d-flex align-items-center me-auto">

                <li class="nav-item">
                    <button class="btn">
                        My Trello Board
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn">
                        <i class="bi bi-star"></i>
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn">
                        <i class="bi bi-people"></i>
                        Workspace visible
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-primary">
                        <i class="bi bi-trello"></i>
                        Board
                    </button>
                </li>
            </ul>

            <!-- Nav items on the right -->
            <div class="d-flex align-items-center">
                <button class="btn">
                    <i class="bi bi-lightning-charge-fill"></i>
                    Automation
                </button>
                <button class="btn">
                    <i class="bi bi-filter"></i>
                    Filters
                </button>
                <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasParameters" aria-controls="offcanvasParameters">
                    <i class="bi bi-three-dots"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasParameters" aria-labelledby="offcanvasParametersLabel">
    <div class="offcanvas-header">
        <h2 class="offcanvas-title title" id="offcanvasParametersLabel">Menu</h2>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <button class="btn w-100 text-start" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="offcanvasBackground">
            <i class="bi bi-card-image"></i>
            Change background
        </button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackground" aria-labelledby="offcanvasBackgroundLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasParameters" aria-controls="offcanvasParameters"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundLabel">Change Background</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <button (click)="this.openPanelPictureBackground()" class="btn btn-light w-50 p-1" style="height: 7rem; width: 13rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackgroundPicture" aria-controls="offcanvasBackgroundPicture">
            <img src="../../../../assets/ChangeBackgroundButton.png" class="w-100 h-100">
        </button>
        <button class="btn btn-light w-50 p-1" style="height: 7rem; width: 13rem;" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackgroundColor" aria-controls="offcanvasBackgroundColor">
            <img src="../../../../assets/ChangeBackgroundColorsButton.webp" class="w-100 h-100">
        </button>
        <div style="display: flex; justify-content: space-around;">
            <p class="">Photos</p>
            <p class="">Colors</p>
        </div>
        <hr>
        <h2 class="title">Custom</h2>
        <input class="mb-3 form-control" type="file" id="formFile" accept="image/png" (change)="onBackgroundSelected($event)">
        <button class="btn btn-light w-100 p-1" type="button" (click)="this.removeBackground()">
            <i class="bi bi-trash"></i> Remove background
        </button>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackgroundPicture" aria-labelledby="offcanvasBackgroundPictureLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="#offcanvasBackground"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundPictureLabel">Photos from <a href="https://unsplash.com/">Unsplash</a></h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; grid-auto-rows: minmax(80px, auto);">
            <button *ngFor="let picture of this.backgroundPictures"
                    class="btn btn-light hover-button"
                    (click)="this.changeBackgroundPicture(picture.url)"
                    style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px; position: relative;">
                <img [src]="picture.url" class="w-100 h-100">
                <a [href]="picture.authorProfileUrl" class="author-link">{{ picture.author }}</a>
            </button>
        </div>
    </div>
</div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackgroundColor" aria-labelledby="offcanvasBackgroundColorLabel">
    <div class="offcanvas-header">
            <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasBackground" aria-controls="#offcanvasBackground"><i class="bi bi-arrow-left"></i></button>
            <h2 class="title" id="offcanvasBackgroundColorLabel">Colors</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px; grid-auto-rows: minmax(80px, auto);">
            <button
                *ngFor="let color of this.backgroundColors"
                (click)="this.changeBackgroundColor(color)"
                [style.background-color]="color"
                class="btn btn-light"
                style="box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;"></button>
        </div>
    </div>
</div>
