<div class="card shadow">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h6>{{this.list.name}}</h6>
            <button class="btn" (click)="this.deleteList()"><i class="bi bi-trash text-danger"></i></button>
        </div>
        <div *ngFor="let card of this.cards | async">
            <button class="btn btn-light w-100 text-start m-1 shadow-sm bg-body-tertiary roundedshadow-sm bg-body-tertiary rounded">{{card.name}}</button>
        </div>
        <div class="m-1">
            <button *ngIf="!this.isCreatingCard" class="btn" (click)="this.openCreationCardPanel()"><i class="bi bi-plus"></i> Add a card</button>
            <div *ngIf="this.isCreatingCard">
                <input type="text" class="form-control me-2" placeholder="Enter a title" [(ngModel)]="this.cardNameToAdd">
                <div class="m-2">
                    <button class="btn btn-primary" (click)="this.createCard()">Add Card</button>
                    <button class="btn" (click)="this.closeCreationCardPanel()"><i class="bi bi-x"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
