<div class="card shadow">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between">
            <h3>{{this.list.name}}</h3>
            <button class="btn" (click)="this.deleteList()"><i class="bi bi-trash text-danger"></i></button>
        </div>

        <div class="example-container">
            <div
                cdkDropList
                [id]="'list-' + list.id"
                [cdkDropListData]="this.cards"
                [cdkDropListConnectedTo]="connectedLists"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                @for (item of this.cards; track item) {
                    <div class="example-box" cdkDrag>{{item.name}}</div>
                }
            </div>
        </div>

        <div class="m-1">
            <button *ngIf="!this.isCreatingCard" class="btn" (click)="this.openCreationCardPanel()"><i class="bi bi-plus"></i> Add a card</button>
            <div *ngIf="this.isCreatingCard">
                <input type="text" class="form-control me-2" placeholder="Enter a title" [(ngModel)]="this.cardNameToAdd">
                <div class="m-2">
                    <button class="btn btn-primary" (click)="this.createCard()">Add Card</button>
                    <button class="btn" (click)="this.closeCreationCardPanel()"><i class="bi bi-x"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
