<div class="card">
    <div class="card"
        [style.background-image]="'url(../../../../assets/login_background.png)'"
        [style.background-size]="'cover'"
        [style.background-position]="'center center'"
        [style.background-repeat]="'no-repeat'">

        <div class="card shadow w-75 mx-auto d-flex align-items-center justify-content-center" style="height: 40px;">
            <div class="card-body text-center">
                <h3 class="m-0">Card name</h3>
            </div>
        </div>
        <p class="text-center mt-3">
            <span class="fw-bold">Vamos a la playa :</span> list name
        </p>
    </div>
    <div class="card-body">
        <p class="card-text">{{this.senderEmail}} added you <span class="card-text">{{this.timestamp}}</span></p>
    </div>
</div>
