.sidebar {
    background-color: #fff;
    min-height: 93.7vh;
    padding-top: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    border-left: 0px;
    border-top: 0px;
    border-bottom: 0px;
    .nav-link {
        color: #0d1117;
        &:hover {
            color: #0d1117;
            background-color: #fff;
        }
    }
    .btn {
        background-color: #fff;
        color: #0d1117;
        &:hover {
            background-color: lightgrey;
        }
    }
}

img.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
